tensorflow
keras
opencv-python
numpy
bpy
torch
torchvision
toml
nltk
pyttsx3
azure-cognitiveservices-speech
azure.ai.language.understanding
msrest
azureml-core
azureml-train-automl
azureml-webservice
azureml-core
azureml-train-automl-runtime
botbuilder-core
botbuilder-schema
botbuilder-ai
pyttsx3
feedparser
smtplib
ctypes
twilio
clint
ecapture
bs4
win32com
wikipedia
webbrowser
winshell
pyjokes
pyttsx3
requests
shutil
pycocotools
xml
lxml
matplotlib
tensorflow-datasets
socket
microbit
openai
gtts
bluetooth
snowboy
